<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{'/app/tabs/home'}}"></ion-back-button>
    </ion-buttons>
    <!--ion-title *ngIf="category.name" [innerHTML]="category.name"></ion-title-->
    <ion-buttons slot="end">
      <ion-button (click)="gridView = !gridView">
          <ion-icon slot="icon-only" name="{{ gridView ? 'reorder-three-outline' : 'grid-outline' }}"></ion-icon>
      </ion-button>
      <ion-button (click)="getFilter()">
          <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
	    <ion-button class="total-count-button" (click)="getCart()">
      		<ion-icon slot="icon-only" name="basket-outline"></ion-icon>
      		<ion-badge *ngIf="values.getTotalCount() != 0"color="danger" class="total-count"><span class="count-text">{{values.getTotalCount()}}</span></ion-badge>
	    </ion-button>
  	</ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="{{'Search' | translate}}" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  <ion-slides [options]="slideOpts" *ngIf="subCategories.length" class="category-list" #mySlider>
    <ion-slide [class.selected]="filter.id == category.id">
    <ion-button fill="clear" color="dark" (click)="filter.id = category.id; updateProducts(category, 0)" mode="{{values.effect}}"><p [innerHTML]="category.name"></p></ion-button>
    </ion-slide>
    <ion-slide *ngFor="let item of subCategories; let i = index" [class.selected]="filter.id == item.id">
      <ion-button (click)="filter.id = item.id; updateProducts(item, i)" fill="clear" color="dark" mode="{{values.effect}}"><p [innerHTML]="item.name"></p></ion-button>
    </ion-slide>
  </ion-slides>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!products[filter.id]">
    <app-product-skeleton *ngIf="!gridView" count="40"></app-product-skeleton>
    <app-product-grid-skeleton *ngIf="gridView" count="40"></app-product-grid-skeleton>
  </div>

    <!-- This is GRID_3 Comment/Uncomment this when you are using other GRID_X -->
    <div class="product-grid3" *ngIf="gridView">
      <ion-list *ngIf="products[filter.id] && products[filter.id].length">
        <ion-grid class="ion-no-padding">
          <ion-row>
          <ion-col *ngFor="let item of products[filter.id]" class="product" size="4" size-sm="3" size-md="3" size-lg="2">
            <ion-card mode="{{values.effect}}" button="true" (click)="detail(item)">
              <img *ngIf="item.images[0] && item.images[0].src" src="{{item.images[0].src}}">
              <ion-button color="success" class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">{{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
              <ion-card-header>
                <ion-card-subtitle>{{item.price | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}<span class="regular_price" *ngIf="item.sale_price">{{item.regular_price | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}</span></ion-card-subtitle>
                <ion-card-title><ion-label><h2 class="product-name" [innerHTML]="item.name" (click)="detail(item)"></h2></ion-label></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                    <div class="add-button-block">
                    <div *ngIf="values.hasItemInOrder(item)">
                      <ion-button mode="ios" class="remove-button" fill="{{values.button.fill}}" color="{{values.button.color}}"  size="small" slot="end" (click)="removeProduct(item); $event.stopPropagation()">
                      <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                    </ion-button>
                      <ion-button class="button-count" fill="clear" color="{{values.button.color}}" size="small" slot="end">
                      <ion-text>{{values.getCount(item)}}</ion-text>
                    </ion-button>
                      <ion-button mode="ios" fill="{{values.button.fill}}" color="{{values.button.color}}" size="small" (click)="addProduct(item); $event.stopPropagation()">
                      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                    </ion-button>
                    </div>
                    <div *ngIf="!values.hasItemInOrder(item)">
                      <ion-button mode="ios" fill="{{values.button.fill}}" color="{{values.button.color}}" size="small" (click)="addProduct(item); $event.stopPropagation()">
                       {{"ADD" | translate}}
                    </ion-button>
                    </div>
                  </div>
              </ion-card-content>
            </ion-card>
        </ion-col>
        </ion-row>
        </ion-grid>
      </ion-list>
    </div>
    
    <!-- This is GRID_3 Comment/Uncomment this when you are using other GRID_X -->
    <div class="product-grid2" *ngIf="!gridView">
      <ion-list *ngIf="products[filter.id] && products[filter.id].length">
        <ion-grid class="ion-no-padding">
          <ion-row>
          <ion-col *ngFor="let item of products[filter.id]" class="product product-col" size="12" size-sm="6" size-md="4">
            <ion-card mode="{{values.effect}}" button="true" (click)="detail(item)">
              <ion-grid>
                <ion-row>
                <ion-col size="3" style="line-height: 0;">
                  <img *ngIf="item.images[0] && item.images[0].src" src="{{item.images[0].src}}">
                  <ion-button color="success" class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">{{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
                </ion-col>
                <ion-col>
                <ion-card-header>
                  <ion-card-title>
                  <ion-label><h2 class="product-name" [innerHTML]="item.name" (click)="detail(item)"></h2>
                    <p class="product-description" [innerHTML]="item.description"></p>
                  </ion-label>
                  </ion-card-title>
                  <ion-card-subtitle>{{item.price | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}<span class="regular_price" *ngIf="item.sale_price">{{item.regular_price | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}</span></ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                        <div class="add-button-block">
                      <div *ngIf="values.hasItemInOrder(item)">
                        <ion-button mode="ios" fill="{{values.button.fill}}" color="{{values.button.color}}" class="remove-button" size="small" slot="end" (click)="removeProduct(item); $event.stopPropagation()">
                        <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                      </ion-button>
                        <ion-button class="button-count" fill="clear" color="{{values.button.color}}" size="small" slot="end">
                        <ion-text>{{values.getCount(item)}}</ion-text>
                      </ion-button>
                        <ion-button mode="ios" fill="{{values.button.fill}}" color="{{values.button.color}}" size="small" (click)="addProduct(item); $event.stopPropagation()">
                        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                      </ion-button>
                      </div>
                      <div *ngIf="!values.hasItemInOrder(item)">
                        <ion-button mode="ios" fill="{{values.button.fill}}" color="{{values.button.color}}" size="small" (click)="addProduct(item); $event.stopPropagation()">
                         {{"ADD" | translate}}
                      </ion-button>
                      </div>
                    </div>
                </ion-card-content>
              </ion-col>              
                  </ion-row>
                    </ion-grid>
            </ion-card>
        </ion-col>
        </ion-row>
        </ion-grid>
      </ion-list>
    </div>

    <!--div class="product-list2" *ngIf="!gridView">
      <ion-list *ngIf="products && products.length">
        <ion-grid class="ion-no-padding">
          <ion-row>
          <ion-col *ngFor="let item of products" class="product" size="12" size-md="6">
          <ion-item button="true" lines="full" (click)="detail(item)" detail="false">
            <ion-thumbnail slot="start">
              <img *ngIf="item.images[0] && item.images[0].src" src="{{item.images[0].src}}">
            </ion-thumbnail>
            <ion-label>
              <h2 [innerHTML]="item.name"></h2>
              <p [innerHTML]="item.description"></p>
              <p><span class="price">{{item.price | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}</span> <span class="regular_price" *ngIf="item.sale_price">{{item.regular_price | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}</span></p>
              <p></p>
              <p class="item-status"><span class="{{item.stock_status}}">{{item.stock_status.toUpperCase()}}</span></p>
            </ion-label>
          </ion-item>
          <div class="add-button-block">
            <div *ngIf="values.hasItemInOrder(item)">
              <ion-button mode="ios" fill="{{values.button.fill}}" color="{{values.button.color}}" size="small" slot="end" (click)="removeProduct(item); $event.stopPropagation()">
              <ion-icon slot="icon-only" name="remove"></ion-icon>
            </ion-button>
              <ion-button mode="ios" class="button-count" fill="clear" color="{{values.button.color}}" size="small" slot="end">
              <ion-text>{{values.getCount(item)}}</ion-text>
            </ion-button>
              <ion-button mode="ios" fill="{{values.button.fill}}" color="{{values.button.color}}" size="small" slot="end" (click)="addProduct(item); $event.stopPropagation()">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
            </div>
            <div *ngIf="!values.hasItemInOrder(item)">
              <ion-button mode="ios" fill="{{values.button.fill}}" color="{{values.button.color}}" size="small" slot="end" (click)="addProduct(item); $event.stopPropagation()">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
            </div>
          </div>
        </ion-col>
        </ion-row>
        </ion-grid>
      </ion-list>
    </div-->



    <!--div class="product-list1" *ngIf="!gridView">
      <ion-list *ngIf="products && products.length">
        <ion-grid class="ion-no-padding">
          <ion-row>
          <ion-col *ngFor="let item of products" class="product" size="12" size-md="6">
          <ion-item button="true" lines="none" (click)="detail(item)" detail="false">
            <ion-thumbnail slot="start">
              <img *ngIf="item.images[0] && item.images[0].src" src="{{item.images[0].src}}">
            </ion-thumbnail>
            <ion-label>
              <h2 [innerHTML]="item.name"></h2>
              <p [innerHTML]="item.description"></p>
              <p><span class="price">{{item.price | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}</span> <span class="regular_price" *ngIf="item.sale_price">{{item.regular_price | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}</span></p>
              <p></p>
              <p class="item-status"><span class="{{item.stock_status}}">{{item.stock_status.toUpperCase()}}</span></p>
            </ion-label>
            <div class="add-button-block">
            <div *ngIf="values.hasItemInOrder(item)">
              <ion-button mode="ios" fill="{{values.button.fill}}" color="{{values.button.color}}" size="small" slot="end" (click)="removeProduct(item); $event.stopPropagation()">
              <ion-icon slot="icon-only" name="remove"></ion-icon>
            </ion-button>
              <ion-button mode="ios" class="button-count" fill="clear" color="{{values.button.color}}" size="small" slot="end">
              <ion-text>{{values.getCount(item)}}</ion-text>
            </ion-button>
              <ion-button mode="ios" fill="{{values.button.fill}}" color="{{values.button.color}}" size="small" slot="end" (click)="addProduct(item); $event.stopPropagation()">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
            </div>
            <div *ngIf="!values.hasItemInOrder(item)">
              <ion-button mode="ios" fill="{{values.button.fill}}" color="{{values.button.color}}" size="small" slot="end" (click)="addProduct(item); $event.stopPropagation()">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
            </div>
          </div>
          </ion-item>
        </ion-col>
        </ion-row>
        </ion-grid>
      </ion-list>
    </div-->

    <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)" *ngIf="has_more_items">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
