<ion-header mode="ios">
  <ion-toolbar mode="md">
  	<ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Cart" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
<div class="empty" *ngIf="!values.order.line_items.length"><ion-icon color="light" name="basket-outline"></ion-icon></div>

<div *ngIf="values.order.line_items.length">

  <ion-list *ngIf="values.order.line_items.length;">
    <div *ngFor="let item of values.order.line_items; let i = index" class="product">
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img *ngIf="item.image && item.image.src" src="{{item.image.src}}">
        </ion-thumbnail>
        <ion-label>
          <h2 [innerHTML]="item.name"></h2>
          <p><span class="price">{{item.price | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}</span> <span class="regular_price" *ngIf="item.sale_price">{{item.regular_price | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}</span></p>
          <p></p>
          <p class="item-status"><span class="{{item.stock_status}}">{{item.stock_status.toUpperCase()}}</span></p>
        </ion-label>
      </ion-item>
      <div class="add-button-block">
      		<ion-button mode="ios" fill="{{values.button.fill}}" class="remove-button" color="{{values.button.color}}" size="small" slot="end" (click)="removeProduct(i)">
		    <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
		  	</ion-button>
	      	<ion-button mode="ios" class="button-count" fill="clear" color="{{values.button.color}}" size="small" slot="end">
			    <ion-text>{{item.quantity}}</ion-text>
		  	</ion-button>
	      	<ion-button mode="ios" fill="{{values.button.fill}}" color="{{values.button.color}}" size="small" slot="end" (click)="addProduct(i)">
			    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
	  		</ion-button>
  	  </div>
    </div>
    <ion-item lines="full">
        <ion-input type="text" [(ngModel)]="couponCode" placeholder="{{'Coupon Code' | translate}}"></ion-input>
        <ion-button class="coupon-button" color="success" slot="end" (click)="values.applyCoupon(couponCode)">
          {{"Apply" | translate}}
        </ion-button>
    </ion-item>
  </ion-list>

  <ion-radio-group [(ngModel)]="values.order.shipping_lines[0].method_id" name="shipping_method" ngDefaultControl>
    <ion-list-header mode="md">
      <ion-label>{{"Shipping" | translate}}</ion-label>
    </ion-list-header>

    <ion-item mode="md" lines="full" *ngFor="let item of values.shippingMethods">
      <ion-label class="ion-text-wrap" [innerHTML]="item.title"></ion-label>
      <ion-radio color="{{values.button.color}}" value="{{item.method_id}}"></ion-radio>
    </ion-item>

  </ion-radio-group>

  <ion-radio-group [(ngModel)]="values.order.payment_method" name="payment_method" ngDefaultControl (ngModelChange)="onChangePaymentMethod()">
    <ion-list-header mode="md">
      <ion-label>{{"Payment" | translate}}</ion-label>
    </ion-list-header>

    <div *ngFor="let item of values.paymentMethods">
      <div *ngIf="item.id == 'stripe'">
        <form action="/charge" method="post" id="payment-form">
          <div class="form-row">

            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" class="card-error" role="alert"></div>
          </div>
        </form>
      </div>
    <ion-item mode="md" lines="full" *ngIf="(item.id === 'wallet' && !(settings.customer?.wallet?.balance > values.getTotal()))">
      <ion-label class="ion-text-wrap">
        <span [innerHTML]="item.title"></span><span *ngIf="item.id === 'wallet' && settings.customer?.wallet?.balance" style="padding-left: 16px; padding-right: 16px">{{settings.customer.wallet.balance | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}</span>
      </ion-label>
      <ion-radio color="{{values.button.color}}" value="{{item.id}}"></ion-radio>
    </ion-item>
    <ion-item mode="md" lines="full" *ngIf="item.id !== 'wallet'">
      <ion-label class="ion-text-wrap">
        <span [innerHTML]="item.title"></span>
      </ion-label>
      <ion-radio color="{{values.button.color}}" value="{{item.id}}"></ion-radio>
    </ion-item>
    </div>
    
  </ion-radio-group>

  <ion-item lines="none" class="payment-instaructions" *ngIf="values.order?.payment_method">
    <ion-label class="ion-text-wrap payment-instaructions" [innerHTML]="getDescription()"></ion-label>
  </ion-item>
</div>



</ion-content>
<ion-footer *ngIf="values.order.line_items.length">
    <ion-toolbar>
    <ion-item lines="none" button (click)="placeOrder = false; editCustomer()" detail>
      <ion-label class="ion-text-wrap">
        {{"Deliver To" | translate}}
        <p>{{this.values.order.shipping?.first_name}} {{this.values.order.shipping.last_name}}
        {{this.values.order.shipping.company}} {{this.values.order.shipping.address_1}}
        {{this.values.order.shipping.address_2}} {{this.values.order.shipping.city}}
        {{this.values.order.shipping.state}} {{this.values.order.shipping.postcode}}
        {{this.values.order.shipping.country}}</p>
      </ion-label>
    </ion-item>
		<ion-button style="margin-bottom: 8px;" class="submit-button" *ngIf="values.order.payment_method !='stripe'" expand="full" color="{{settings.theme.button}}" [disabled]="disableSubmit || !values.order.line_items.length" (click)="save()">{{"Place Order" | translate}} {{values.getTotal() | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}</ion-button>
    <ion-button style="margin-bottom: 8px;" class="submit-button" id="card-button" *ngIf="values.order.payment_method =='stripe'" expand="full" color="{{settings.theme.button}}" [disabled]="disableSubmit || !values.order.line_items.length" (click)="onClickStripeSubmit()">{{"Place Order" | translate}} {{values.getTotal() | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}</ion-button>
    </ion-toolbar>
</ion-footer>
