<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [ios]="'home-outline'" [md]="'home-outline'"></ion-icon>
      <ion-label>{{"Home" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="store">
      <ion-icon src="/assets/icon/store-outline.svg"></ion-icon>
      <ion-label>{{"Store" | translate}}</ion-label>
    </ion-tab-button>

    <!--ion-tab-button tab="food">
      <ion-icon [ios]="'restaurant'" [md]="'restaurant'"></ion-icon>
      <ion-label>Food</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grocery">
      <ion-icon [ios]="'basket'" [md]="'basket'"></ion-icon>
      <ion-label>Grocery</ion-label>
    </ion-tab-button-->

    <ion-tab-button tab="search">
      <ion-icon [ios]="'search-outline'" [md]="'search-outline'"></ion-icon>
      <ion-label>{{"Search" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon [ios]="'grid-outline'" [md]="'grid-outline'"></ion-icon>
      <ion-label>{{"Category" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon [ios]="'person-outline'" [md]="'person-outline'"></ion-icon>
      <ion-label>{{"Profile" | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
