<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <!--on-item lines="none" detail="false">
            <ion-title style="padding: 0; letter-spacing: 1.8px;">
              GROCERY STORE
            <img src="assets/image/logo.png">
            </ion-title>
          </ion-item-->
         <div class="account-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selected = p.title" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selected == p.title">
              <ion-icon slot="start" class="start ion-margin-end" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngFor="let item of values.mainCategories; let i = index">
            <ion-item (click)="selected = item.id; getProducts(item)" lines="none" detail="false" [class.selected]="selected == item.id">
              <ion-label [innerHTML]="item.name"></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>

        </ion-list>
        <ion-list>

          <ion-menu-toggle auto-hide="false" *ngIf="settings.customer.id == 0">
            <ion-item (click)="selected = 'Home'; login()" lines="none" detail="false">
              <ion-icon class="icon-start ion-margin-end" [ios]="'log-in-outline'" [md]="'log-in-sharp'" slot="start"></ion-icon>
              <ion-label>{{"Login" | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="settings.customer.id == 0">
            <ion-item (click)="selected = 'Home'; register()" lines="none" detail="false">
              <ion-icon class="icon-start ion-margin-end" [ios]="'person-outline'" [md]="'person-sharp'" slot="start"></ion-icon>
              <ion-label>{{"Register" | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="settings.customer.id > 0">
            <ion-item (click)="selected = 'orders'; getOrder()" lines="none" detail="false" [class.selected]="selected == 'orders'">
              <ion-icon class="icon-start ion-margin-end" [ios]="'basket-outline'" [md]="'basket-sharp'" slot="start"></ion-icon>
              <ion-label>{{"Orders" | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="settings.customer.id > 0">
            <ion-item (click)="selected = 'wishlist'; getWishlist()" lines="none" detail="false" [class.selected]="selected == 'wishlist'">
              <ion-icon class="icon-start ion-margin-end" [ios]="'heart-outline'" [md]="'heart-sharp'" slot="start"></ion-icon>
              <ion-label>{{"Wishlist" | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="settings.customer.id > 0 && settings.customer.wallet && settings.customer.wallet.balance">
            <ion-item (click)="getWallet()" lines="none" detail="false">
              <ion-icon class="icon-start ion-margin-end" [ios]="'wallet-outline'" [md]="'wallet-sharp'" slot="start"></ion-icon>
              <ion-label>{{"Balance" | translate}}</ion-label>
              <ion-badge slot="end" color="success">{{settings.customer.wallet.balance | currency:values.currency:'symbol':'1.'+values.priceDecimal+'-'+values.priceDecimal}}</ion-badge>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="settings.languages?.length">
            <ion-item (click)="selected = 'language'; getLanguages()" lines="none" detail="false" [class.selected]="selected == 'language'">
                <ion-icon class="icon-start ion-margin-end" name="globe" slot="start"></ion-icon>
              <ion-label>{{"Language" | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="settings.customer.id > 0">
            <ion-item (click)="selected = 'Home'; logout()" lines="none" detail="false">
              <ion-icon class="icon-start ion-margin-end" [ios]="'exit-outline'" [md]="'exit-sharp'" slot="start"></ion-icon>
              <ion-label>{{"Logout" | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list>
        <ion-item class="ion-activatable" lines="none">
          <ion-icon class="start ion-margin-end" slot="start" [ios]="'contrast-outline'" [md]="'contrast-sharp'" slot="start"></ion-icon>
          <ion-label>
            {{"Dark Theme" | translate}}
          </ion-label>
          <ion-toggle color="{{settings.theme.button}}" id="themeToggle" slot="end"></ion-toggle>
        </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
