<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{'/app/tabs/profile'}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Language" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="settings.languages.length">
      <ion-list >
         <ion-radio-group mode="md" [(ngModel)]="config.lang" name="language" ngDefaultControl>
         <ion-item lines="full" *ngFor="let item of settings.languages">
            <ion-label class="payment-method-title"><img src="{{item.country_flag_url}}" width="20"><span style="padding: 10px">{{item.native_name}}</span></ion-label>
            <ion-radio value="{{item.language_code}}"> </ion-radio>
         </ion-item>
         </ion-radio-group>
         <ion-button class="submit-button" color="{{settings.theme.button}}" expand="full" fill="solid" (click)="applyLanguage()" >{{"Apply" | translate}}</ion-button>
      </ion-list>
   </div>
</ion-content>
