<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>{{"Store" | translate}}</ion-title>
    <!--ion-buttons slot="end">
    <ion-button routerDirection="forward" [routerLink]="['/search']">
      <ion-icon color="medium" slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
    </ion-buttons-->
  </ion-toolbar>
</ion-header>

<ion-content>

	<div *ngIf="vendors" class="products">
		<ion-item *ngFor="let item of vendors" button="true" (click)="detail(item)">
			<ion-thumbnail slot="start">
			  <img *ngIf="item.icon" src="{{item.icon}}">
			</ion-thumbnail>
			<ion-label>
			  <h3 class="product-name">{{ item.name }}</h3>
			  <p class="product-description" [innerHTML]="item.description"></p>
			</ion-label>
		</ion-item>
	</div>

	<div *ngIf="!vendors">
		<app-product-skeleton count="20"></app-product-skeleton>
	</div>

</ion-content>
